# Core functionality - changes here should be rare!
/src/app.py                   @yeskaydee
/src/backend/database.py      @yeskaydee
/src/backend/routers/auth.py  @yeskaydee

# The frontend will need refactored soon to be more object oriented.
/src/static/   @yeskaydee
